# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user

# Rider / VS
.vs/
.idea/
*.suo
*.userosscache
*.sln.docstates

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage

# NuGet / packages
*.nupkg
packages/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/
